/*
Jag har valt att utgå från den här sidan men har gjort om väldigt mycket utefter vad jag själv tycker och tänker:
https://www.jotform.com/form-templates/music-school-registration-form
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 1rem;
  width: 100%;
  color: #292004;
  background-color: #9fcfc1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
}

header {
  width: 100%;
  grid-column: 2;
  color: #292004;
  background-color: #2920045f;
  display: grid;
  grid-template-columns: 350px 50px 350px 50px;
  grid-template-rows: repeat(4, 100px);
}

img {
  width: 100%;
  height: 400px;
  grid-column: 1;
}

.titlebox {
  text-transform: uppercase;
  width: 100%;
  grid-column: 3;
  grid-row: 2;
}

.form-wrapper {
  grid-column: 2;
  background-color: #f5f6f7;
  box-shadow: 0px 0px 8px black;
  max-width: 100%;
}

form {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding-bottom: 40px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

select,
textarea {
  grid-column: 1;
  grid-row: 2;
}

.box {
  padding: 1rem 0rem;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 1fr;
  column-gap: 50px;
}

.skill-level {
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(4, 40px);
}

input[type="radio"] {
  width: auto;
  margin-right: 12px;
}

select {
  width: fit-content;
  height: fit-content;
}

select:hover,
input:hover,
textarea:hover {
  color: #f5f6f7;
  background-color: #2920045f;
}

.genre {
  grid-column: 2;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: repeat(5, 40px);
}

.genre label {
  grid-column: 1;
}

input[type="checkbox"] {
  grid-column: 2;
  width: 15px;
}

input[type="checkbox"]:hover {
  width: 20px;
  background-color: #2920045f;
}

h3 {
  grid-column: span 2;
}

h1 {
  font-size: 40px;
}

label {
  color: #292004;
}

.file {
  grid-column: 2;
}

input[type="file"] {
  border: none;
  padding-bottom: 10px;
}

.message {
  grid-column: 2;
}

.submit {
  grid-column: 2;
  margin: auto;
  padding-top: 20px;
}

button {
  padding: 10px 150px;
  border-radius: 3px;
  color: #f5f6f7;
  background-color: #292004;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
}

label {
  display: block;
  margin: 0.7rem 0;
}

button:hover {
  background-color: #2920045f;
}
